/* Primary Break Point */
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  /* HEADER AND LOGOS */
  #header-container {
    display: flex;
    justify-content: space-between;
  }
  #bedework-logo {
    width: 340px;
  }
  #apereo-logo {
    display: block;
    width: 120px;
    margin-top: 32px;
  }

  /* NAVIGATION MENU */
  nav.navbar {
    margin-bottom: 2em;
  }
  nav .navbar-brand {
    display: none;
  }
  nav .dropdown-toggle::after { /* remove carrot */
    content: unset;
    border: none;
  }
  .navbar-nav .dropdown-menu {
    border-radius: 0;
    margin-top: 8px;
    border-color: #ddd;
    box-shadow: 4px 4px 4px 0 rgba(221,221,221,0.75);
  }
  nav.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0;
    margin-right: 1em;
  }

  /* FOOTER */
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

